<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Cute - a smaller Angular</title>
  
    <link rel="stylesheet" href="reveal/css/reveal.min.css">
    <link rel="stylesheet" href="reveal/lib/css/github.css">

    <link rel="stylesheet" href="slides-theme/style.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

<div class="reveal">
<div class="slides">

<section data-markdown class=front><script type="text/template">
# Building a smaller Angular

[@timruffles](http://twitter.com/timruffles)
[SidekickJS](https://www.sidekickjs.com)

</script></section>

<section data-markdown><script type="text/template">
  ## AngularJS is something special
</script></section>

<section data-markdown class=has-image><script type="text/template">
  <img class=center src=img/trends.png >
</script></section>

<section data-markdown class=has-image><script type="text/template">
  <img class=center src=img/trends-2.png >
</script></section>

<section data-markdown><script type="text/template">
  ## It's also quite scary
</script></section>

<section data-markdown data-state=bang><script type="text/template">
  
  ## WTF?!

  - transclusion
  - scope
  - service provider factories
  - directives
  - digest loop

</script></section>

<section data-markdown data-state=bang><script type="text/template">
  ## SCARY MAGIC!
</script></section>

<section data-markdown><script type="text/template">
  ## Magic is a bad thing, I'd like to remove it
</script></section>

<section data-markdown><script type="text/template">
  ## Could we de-magic Angular?
</script></section>

<section data-markdown class=sub-title><script type="text/template">
  ## What makes AngularJS great?
</script></section>

<section data-markdown><script type="text/template">
  ## Not `$routes`

  - old, boring
  - pretty basic implementation of routes
  - use UI-router instead
</script></section>

<section data-markdown><script type="text/template">
  ## Not `$http` or `$resource`

  - old, boring
  - pretty basic implementation of AJAX + RESTful helpers
</script></section>

<section data-markdown><script type="text/template">
  ## Not depedency injection or the module system
</script></section>

<section data-markdown><script type="text/template">
  ## EH? DI sucks?!
</script></section>

<section data-markdown><script type="text/template">
  ## No: Java makes DI hard
</script></section>

<section data-markdown><script type="text/template">
  ## That's a benefit of dynamic languages, why lose?
</script></section>

<section data-markdown><script type="text/template">
## DI != containers

- prototypes
- good design + functions

```javascript
function User() {}
User.prototype = {
  SomethingCreated: SomethingCreated
}
```

```javascript
function loadData() {
  /* ... complex, horrible ajax ... */
  showData(transformData(data))
}
function transformData(data) {
  // easily testable function that just transforms input
}
function showData(el,data) {
  // can pass in el and data and test simply
}
```
</script></section>

<section data-markdown><script type="text/template">
  ## Anyway, story for another time...
</script></section>

<section data-markdown data-state=sub-title><script type="text/template">
  ## I do still `<3` Angular
</script></section>

<section data-markdown><script type="text/template">
  ## What's good about Angular?
</script></section>

<section data-markdown data-state=sub-title><script type="text/template">
  ## HTML EXTENDED FOR WEB APPS!!!
</script></section>

<section>
<h2>HTML Enhanced for webapps</h2>

<script type='text/eg'>
<div ng-controller=helloCtrl>
  <h1>{{ app.message }}</h1>
  <input ng-model=app.message>
</div>
</script>

<pre><code class=javascript>var app = angular.module("littleSketcher",[]);
app.controller("helloCtrl",function($scope) {
  $scope.app = {
    message: "Hello Angular"
  };
});
</code></pre>
</section>

<section data-markdown><script type="text/template">
  ## But that's the magic bit!
</script></section>

<section data-markdown><script type="text/template">
## Am I being unfair?
</script></section>

<section data-markdown><script type="text/template">
## Nope

```javascript
  // Insanity Warning: scope depth-first traversal
  // yes, this code is a bit crazy, but it works
  //  and we have tests to prove it!
  if (!(next = (current.$$childHead || 
      (current !== target && current.$$nextSibling)))) {
    while(current !== target 
      && !(next = current.$$nextSibling)) {
      current = current.$parent;
    }
  }
} while ((current = next));
```
</script></section>

<section data-markdown><script type="text/template">
  ## Solution: reading copy of Angular
</script></section>

<section data-markdown data-state=sub-title><script type="text/template">
  ## Cute
</script></section>

<section data-markdown><script type="text/template">
  ## 80/20 edit
</script></section>

<section>
 <h2>How big is Angular?</h2>

  <div class='pre small'>
$ cloc-1.6.0 --by-file ~/angular-1.2.0/angular!(*scen*,*min*|*.css)
-------------------
File          code
-------------------
angular.js    7730
mocks.js       806
animate.js     591
route.js       260
sanitize.js    232
touch.js       231
resource.js    210
cookies.js      75
loader.js       58
-------------------
SUM:         10193
-------------------
  </div>
</section>

<section data-markdown><script type="text/template">
  ## Angular squished into Backbone
</script></section>

<section data-markdown><script type="text/template">
  ## A new metric unit: the BB
</script></section>

<section >
 <h2>BB: Unit of measure</h2>
  <div class=big>
  
  <p>Backbone: 937 LOC = 1 BB</p>

  <ul >
  <li>Ember: 16.7 BB (+ jQuery)</li>
  <li>Angular: 7.8 BB</li>
  <li>Cute: 0.6 BB</li>
  </ul>

</section>

<section>
 <h2>Comparison</h2>

<div class='pre small'>
$ cloc  --by-file targets/
http://cloc.sourceforge.net v 1.60
-------------------------
File                code
-------------------------
ember-1.3.1.js     15825
angular.js          7386
backbone1.1.0.js     937
-------------------------
</div>
</section>

<section>
 <h2>With cute</h2>

<div class='pre small'>
$ cloc  --by-file targets/
http://cloc.sourceforge.net v 1.60
-------------------------
File                code
-------------------------
ember-1.3.1.js     15825
angular-1.2.0.js    7386
backbone1.1.0.js     937
cute-0.1.js          591
-------------------------
</div>
</section>

<section data-markdown><script type="text/template">
  ## Cute will stay <= 1 BB
</script></section>

<section data-markdown data-state=sub-title><script type="text/template">
  ## Let's write something
</script></section>

<section data-markdown><script type="text/template">
  ## Features to implement

  - compiler
  - scopes
</script></section>

<section data-markdown data-state=sub-title><script type="text/template">
  ## Scope
</script></section>

<section>
<h2>Allows data-binding</h2>

<script type=text/eg>
<div ng-controller=helloCtrl>
  <h1>{{ app.message }}</h1>
  <input ng-model=app.message>
</div>
</script>

<pre>
<code class=javascript>scope.$watch(someExpressionOrFunction,function(now,was) {
  // fires when the expression's value changed
});
</code>
</pre>
</section>

<section data-markdown><script type="text/template">
  ## How do scopes work?
</script></section>

<section data-markdown data-state=bang><script type="text/template">
  ## Digest loop!!1!
</script></section>

<section data-markdown><script type="text/template">
  ## More simply

  1. `$watch('something',handler)`
  1. you tell scope of possible change: `$apply()` which calls `$digest()`
  1. checks `_.equal(now,oldValue)`
  1. if it's changed, calls `handler(now,was)`
</script></section>

<section data-markdown><script type="text/template">
## So...

```javascript
var scope = new Cute.Scope
scope.name = "TakeOff conf"
// declare interest
scope.$watch("s.name",function(now,was) {
  console.log("Rebrand from '%s' to '%s'",was,now)
})
setTimeout(function() {
  // tell scope, it may have changed
  scope.$apply(function() {
    scope.name = "TAKE OFF CONF!!!!!"
  })
})
```
</script></section>

<section data-markdown><script type="text/template">
  ## Ill advised live coding in 3... 2... 1...
</script>
<aside>
Reimplement child scopes
- inherits from parent
- setup correctly
- pass on tree
</aside>
</section>

<section data-markdown><script type="text/template">
  ## If you're reading this, the demo gods smiled
</script></section>

<section data-markdown ><script type="text/template">
  ## What Cute left out from scopes
</script></section>

<section data-markdown><script type="text/template">
  ## Evaluation: 799 lines (0.86 BB)
</script></section>

<section data-markdown><script type="text/template">
  ## 'Angular script'

  - null aware
  - doesn't parse all of JS ([ù̧͍̪̦̳̟͉̩ṇ̨̘̜͎̺̱͉͞i̛̻̩̠͟c҉̢̤̮̲̭̜̦͔̗͝ǫ̩̥̫̞͢ḏ̸̠̗e̝̖̩͔̺͈̺ͅ](https://github.com/angular/angular.js/pull/3848))
</script></section>

<section data-markdown><script type="text/template">
## Cute evaluation

- It's just Javascript: not a new language
- So `s.foo()` or `s.foo.bar["baz"] && s.ƒƒƒƒ` will work

```javascript
var getValue = 
  new Function("return (" + src + ")",'s','scope')
var value = getValue(this,this)
```

</script></section>

<section data-markdown data-state=sub-title><script type="text/template">
## Let's write a compiler!!
</script></section>

<section>

<h2>Want</h2>

<script type=text/eg>
<div>
  <h3>Tree</h3>
  <div te-include='"tree"'></div>
</div>

<div class=tree>
  <div te-bind='s.item.value'></div>
  <button te-click='s.item.children.push(s.makeItem())'>Add child</button>
  <div te-repeat='s.item.children'>
    <div te-include='"tree"'></div>
  </div>
</div>
</script>

</section>

<section data-markdown><script type="text/template">
## What do we need?

- Identify directives on a node
- For some extensions: pause and resume compilation
- Apply them within a specific scope

</script></section>

<section>
<h2>Example</h2>

<ul>
<li>We need to ensure the repeat captures the <code>te-href</code> and applies for each repeated item
<li>Priority and ability to resume compilation
</ul>

<script type='text/eg'>
<a te-repeat='s.items' te-href='s.item.url'>
  <span te-bind='s.item.name'></span>
</a>
</script>
</section>

<section>
<h2>Steps</h2>

<ul>
<li>Find directives on <code>&lt;a&gt;</code>, apply in order
<li>Stop applying directives after <code>te-repeat</code>
<li>Create a <code>transclude()</code> function for the <code>&lt;a&gt;</code> that restarts compilation
<li>Inside <code>te-repeat</code> use our <code>transclude()</code> to create clones, with all directives applied
</ul>

<script type='text/eg'>
<a te-repeat='s.items' te-href='s.item.url'>
  <span te-bind='s.item.name'></span>
</a>
</script>
</section>

<section data-markdown><script type="text/template">
  ## More live coding... are you mad?!
</script>
<aside>
reimplement transcludeFn
- clone node
- replace + recompile with priority if element
- compile children if not
</aside>
</section>

<section data-markdown><script type="text/template">
  ## Did it work?
</script></section>

<section data-markdown ><script type="text/template">
  ## AngularJS has a great idea in extending HTML
</script></section>

<section data-markdown ><script type="text/template">
  ## Once you know, it's not that magic
</script></section>

<section data-markdown><script type="text/template">
  ## Next for cute

  - Become a useable library? IE8+ or similar?
  - Unit test vs angular?
  - Give me a hand
</script></section>


<section data-markdown><script type="text/template">
# Thanks!
## @timruffles, @sidekicksrc
### [github.com/timruffles/cute](https://github.com/timruffles/cute)
</script></section>

<section data-markdown><script type="text/template">
# Bonus: bitching about ng modules
</script></section>


<section data-markdown><script type="text/template">
  ## DI

  - make sure a module's dependencies can be switched out
  - that's it 
  - things that vary in program deliberately are constructor args: already solved
  - more like `$http` etc
</script></section>

<section data-markdown><script type="text/template">
  ## Module-system: the superflous

  - DI: great for Java
  - Unit tests need 1 level mocks
  - Functional test: stub the boundaries
</script></section>

<section data-markdown class=has-image><script type="text/template">
  ![Module systems aren't needed for JS](img/modules.png)
</script></section>

<section data-markdown><script type="text/template">
  ## Module-system: the bad
</script></section>

<section data-markdown><script type="text/template">
## 'It must be modular, I'm using modules'

- try lazy loading with the 'sub classes together' module style

```javascript
var controllers = angular.module("controllers",[]);
controllers.controller("rootView",x);
controllers.controller("unrelatedView",y);
controllers.controller("heavyGraphView",z);
```

</script></section>

<section data-markdown><script type="text/template">
## 'Not global, because DI'

- doesn't make it less horrible for app code if it's easier to test
- don't use `$rootScope`

```javascript
app.controller("rootView",function($rootScope) {});
app.controller("someView",function($rootScope) {});

// have seen people suggest doing this
app.service("UserService",function($http,$rootScope) {
  $http(/* ... */)
    .then(function(resp,data) {
      $rootScope.user = data;
    }) 
});
```

</script><aside>
- temporal coupling, shared mutable variables, universal visibility
</aside></section>

<section data-markdown><script type="text/template">
## The horror of `service()` vs `factory()`


```javascript
function ForService() {
  this.functionality = function() {};
}
app.service("something",forService);

function forFactory() {
  return {functionality: function() {}};
}
app.factory("something",forFactory);
```

</script><aside>
- oh so I delcare a service with `service()`?
- both wrappers for `provide()`, fn passed to `serivce` is called with `new`
</aside></section>

<section data-markdown><script type="text/template">
## Singletons

- your class or module definitions are, and always have been, singletons
- that's what you expose as services, not 'instancey' things
- singletons === global variables === no

```javascript
// no, bleurgh singletons!
app.service("user",function(other,instance,definitions) {
  this.login = function() {};
});

// yes: nice reusable instances
app.factory("User",function(Other,Class,Definitions) {
  function User() {}
  User.prototype.login = function() {};
  return User
});
```

</script></section>

<section data-markdown><script type="text/template">
## KISS

- good design + dynamic language = DI without containers
- I still like Angular :)

</script></section>


</div>
</div>


<!-- reveal -->
<script src="reveal/lib/js/head.min.js"></script>
<script src="reveal/js/reveal.min.js"></script>
<script>
  Reveal.initialize({

    // Display controls in the bottom right corner
    controls: false,

    // Display a presentation progress bar
    progress: true,

    // Push each slide change to the browser history
    history: true,

    // Enable keyboard shortcuts for navigation
    keyboard: true,

    // Enable the slide overview mode
    overview: true,

    // Vertical centering of slides
    center: false,

    // Loop the presentation
    loop: false,

    // Change the presentation direction to be RTL
    rtl: false,

    // Number of milliseconds between automatically proceeding to the
    // next slide, disabled when set to 0, this value can be overwritten
    // by using a data-autoslide attribute on your slides
    autoSlide: 0,

    // Enable slide navigation via mouse wheel
    mouseWheel: false,

    // Apply a 3D roll to links on hover
    rollingLinks: false,

    // Transition style
    transition: 'linear', // default/cube/page/concave/zoom/linear/fade/none

    dependencies: [
        // Cross-browser shim that fully implements classList - https://github.com/eligrey/classList.js/
        { src: 'reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } },

        // Interreveal/pret Markdown in <section> elements
         { src: 'reveal/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: 'reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },

        // Syntareveal/x highlight for <code> elements
        { src: 'reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); showExamples(); } },

        // Zoom reveal/in and out with Alt+click
        { src: 'reveal/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },

        // Speakreveal/er notes
        { src: 'reveal/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },

        // Remotreveal/e control your reveal.js presentation using a touch device
        // { src: 'reveal/plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
    ]

  });
</script>
<script>
  function showExamples() {
    [].forEach.call(document.body.querySelectorAll("[type='text/eg']"),function(el) {
      var rep = document.createElement("pre")
      var code = document.createElement("code")
      rep.appendChild(code)
      code.innerText = el.innerHTML.trim()
      el.parentElement.replaceChild(rep,el)
      hljs.highlightBlock( rep );
    })
  }
</script>
</body>

